header {
    pointer-events: none;
}

header * {
    pointer-events: auto;
}

.app-drawer {
    display: none;
}

.app-drawer.open {
    position: fixed;
    top: 70px;
    left: 20px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 10px;

    z-index: 99999;

    background-color: #282a2c;
    background-color: transparent;
    backdrop-filter: blur(1000px);

    opacity: 0.95;
    padding: 20px;

    border-radius: 20px;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.app-drawer-button {
    all: unset;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.app-drawer-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.dots {
    display: grid;
    grid-template-columns: repeat(3, 6px);
    grid-template-rows: repeat(3, 6px);
    gap: 4px;
}

.dots span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

.app-drawer button:not(.app-drawer-button),
.app-drawer a {
    display: flex;
    flex-direction: row;
    gap: 8px;

    width: 250px;

    text-decoration: none;
    font-size: 20px;

    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.app-drawer a img,
.app-drawer button img {
    width: 48px;
    height: 48px;
}