body {
    min-width: 100vw;
    min-height: 100vh;

    overflow-x: auto;

    background-color: #010409;
    text-rendering: optimizeLegibility;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
    }
}