button:not(header button, footer button) {
    background-color: #0d1117;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #1d2228;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

button:not(header button, footer button):hover {
    background-color: #262c36;
}

button:not(header button, footer button):active {
    transform: scale(0.98);
}

button:not(header button, footer button) * {
    text-decoration: none;
}