footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    transition: height 0.1s ease;
    align-items: center;

    background-color: #070a0f;

    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    z-index: 1000;

    overflow-x: auto;
}

footer.expanded {
    height: 95vh;
}

footer .expand-bar {
    width: 80px;
    height: 5px;

    background-color: rgb(119, 119, 119);
    border: none;
    border-radius: 10px;

    display: block;
}

footer .buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
}

footer .buttons button,
footer .buttons a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    padding: 10px 16px;
    border-radius: 12px;
    cursor: pointer;

    border: none;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(6px);

    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    transition: transform 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
}

footer .buttons button img,
footer .buttons a img {
    width: 40px;
    height: 40px;
    pointer-events: none;
}

footer .buttons button:hover,
footer .buttons a:hover {
    transform: scale(1.06);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

footer.dragging,
footer.dragging * {
    user-select: none;
}

footer .expand-bar {
    cursor: ns-resize;
}

footer.dragging .expand-bar {
    background-color: rgb(180, 180, 180);
}

.expand-bar {
    touch-action: none;
    cursor: ns-resize;
}

footer .expanded-content {
    display: none;
}

footer.expanded .expanded-content {
    display: flex;
    flex-direction: column;
}