header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 100px;
    width: 100%;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
}

.logo {
    width: 75px;
    height: 75px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: none;
    border-radius: 0%;
    background-color: unset;
}

.logo:hover {
    background-color: none;
}

.logo img {
    width: 75px;
    height: 75px;
}