li {
    font-size: 16px;
    line-height: 1.6;
    color: #e2e8f0;
    margin-left: 30px;
}

li::marker {
    color: #353535;
    font-weight: bold;
}

@media (prefers-color-scheme: light) {
    li {
        color: #334155;
    }

    li::marker {
        color: #4338ca;
    }
}