main {
    margin-top: 125px;
    margin-bottom: 125px;
    margin-left: 300px;
    margin-right: 300px
}

@media(max-width: 600px) {
    main {
        margin-left: 10px;
        margin-right: 10px;
    }
}