table {
    width: auto;
    min-width: max-content;
    overflow: hidden;

    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;

    z-index: 0;
    position: relative;
}

th, td {
    font-family: 'Lexend', sans-serif;
    font-weight: bold;
    font-size: 15px;

    text-align: left;
    
    width: 175px;
    height: 35px;
}