.tabs {
    display: flex;
    gap: 5px;
}

.tab {
    padding: 10px 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 10px;

    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.tab.active {
    background-color: #0078d7;
    font-weight: bold;
}

.tab img {
    width: 32px;
    height: 32px;
    
    border-radius: 0px;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

@media (prefers-color-scheme: light) {
    .tab {
        color: black;
    }

    .tab:hover {
        background-color: #cacaca;
    }

}