.copy-box {
    display: flex;
    flex-direction: column;
    border: 1px solid #2d2d2d;
    border-radius: 20px;
}

.copy-box .head, .copy-box .body {
    padding: 20px;
}

.copy-box .head {
    display: flex;
    background-color: #0f0f0f;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.copy-box .body {
    background-color: #484848;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}