.copy-box {
    display: flex;
    gap: 12px;
    flex-direction: column;

    width: 100%;

    padding: 12px;

    background: rgba(40, 45, 62, 0.8);
    border: 1px solid #333;
    border-radius: 14px;
}

.copy-box .head .language {
    color: #f5f5f5;
    font-size: 12px;
    font-weight: bold;

    border-bottom: #111 solid 2px;
    background-color: unset;
}

.copy-box .head .copy-button {
    padding: 10px 14px;

    border: none;
    border-radius: 10px;

    font-weight: 600;
    cursor: pointer;

    transition:
        transform 0.2s ease,
        background 0.2s ease;
    
    background-color: transparent;
}

.copy-box .head .copy-button img {
    width: 16px;
    height: 16px;

    margin-right: 6px;
}

.copy-box .body .code {
    width: 100%;

    background: transparent;
    border: none;
    outline: none;

    color: #f5f5f5;
    font-size: 14px;
    font-family: monospace;

    overflow: hidden;
    text-overflow: ellipsis;
    
    border-radius: 14px;
    font-weight: bold;
}



.copy-box .copy-button:hover {
    transform: scale(1.04);
}