.grouped-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.grouped-list .item {
    display: flex;
    flex-direction: column;
    gap: 5px;

    border-radius: 5px;
    background-color: #1e1f20;
    padding: 20px;
    max-width: 100%;
    border: none;
    text-align: left;
}

.grouped-list .item:hover {
    background-color: #606060;
    cursor: pointer;
}

.grouped-list .item img {
    width: 32px;
    height: 32px;
}

.grouped-list .item:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.grouped-list .item:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}