.grouped-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.grouped-list .item {
    display: flex;
    flex-direction: row;
    gap: 5px;
    vertical-align: middle;

    border-radius: 5px;
    background-color: #1e1f20;
    padding: 20px;
    max-width: 100%;
    border: none;
    text-align: left;
}

.grouped-list .item:hover {
    background-color: #1c2329;

    cursor: pointer;

    transform: translateY(-5px);
    transition: transform 0.2s ease;
}

.grouped-list .item img {
    width: 24px;
    height: 24px;
}

.grouped-list .item:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.grouped-list .item:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}