<!-- Can be placed in header element-->

<div class="app-drawer-wrapper">
    <button onclick="open_app_drawer()" class="app-drawer-button">
        <div class="dots">
            <span></span><span></span><span></span>
            <span></span><span></span><span></span>
            <span></span><span></span><span></span>
        </div>
    </button>
    <div class="app-drawer">
        <button onclick="open_app_drawer()" class="app-drawer-button"></button>
        <div class="group">
            <a href="https://example.com">
                <img src="" alt="App 1 Icon">
                App 1
            </a>
            <a href="https://example.com">
                <img src="" alt="App 2 Icon">
                App 2
            </a>
            <a href="https://example.com">
                <img src="" alt="App 3 Icon">
                App 3
            </a>
        </div>
        <div class="group">
            <a href="https://example.com">
                <img src="" alt="App 1 Icon">
                App 4
            </a>
            <a href="https://example.com">
                <img src="" alt="App 2 Icon">
                App 5
            </a>
            <a href="https://example.com">
                <img src="" alt="App 3 Icon">
                App 6
            </a>
        </div>
    </div>
</div>