section {
    background-color: #1C1F24;
    border-radius: 16px;

    margin-bottom: 60px;
    padding: 16px;

    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: visible;
    overflow-x: auto;

    backdrop-filter: blur(10px);
    background-color: transparent;
    border: none !important;
}